
.card-contenedor {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.btn-register {
    border-radius: 20px;
    margin-top: 15px;
}

.card-details {
    width: 50%;
    background-color: #D6D4D4
}

.col-md-6 {
    margin-top: 30px;
}

@media (max-width: 980px) {

    .card-details{
        width: 70%
    }

}

@media (max-width : 400px) {

    .card-details{
        width: 85%
    }

}